@font-face {
    font-family: 'special-elite';
    src: url('/font/SpecialElite-Regular.woff2') format('woff2'),
        url('/font/SpecialElite-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'special-elite';
}